.banner {
  width:100%;
  height: 25rem;
  object-fit: cover;
}

  .article {
    
    h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    time, address, span {
      font-size: 1.25rem;
      color: var(--info);
      display: inline-block;
      margin: 1.5rem 1.5rem 0 0.5rem;
    }
    
    h2 {
      font-weight: 600;
      font-size: 2.25rem;
      margin-top: 4rem;
      margin-bottom: 3.5rem;
    }

   article {
     font-weight: 400;
     font-size: 1.125rem;
     color: var(--info);
     margin-bottom: 5rem;
   }
    
  }